
 @import url("https://use.typekit.net/qfu3tzp.css");

body {
  font-family: soleil,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

p {
  margin: 8px;
}

div.podHoverblue {
	background-color: #EBF3FC;
}

div.podHover:hover, div.podHoverblue:hover {
  background-color: #E1ECF8;
}

p.hotspotentry:hover {
	  background-color: #8D66E8 !important; 
}



@media only screen and (max-width: 500px) {

div.timeline {
width: 100% !important;
height: 110px !important;
}

div.valueBox {
	min-width: 100px !important;
	max-width: 240px !important;
}

p.hotspotentry {
	display: inline-block;
	margin-left: 10px !important;
	width: auto;
	white-space: nowrap;
	margin-bottom: 10px !important;
}

div.nomargintop {
	margin-top: 0 !important;
	padding: 0 !important;
}

p.paddingLeft {
	padding-left: 10px !important;
}

div.hotspotwrapper {
	display: flex;
	flex-wrap: no-wrap;
	overflow-x: scroll !important;
}

}